.blurblur{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.dibs-dialog-open{
  overflow-y:hidden !important;
}
.dibs-overlay{
  background: rgba(238,238,238,.5);
  position: fixed;
  z-index: 3000000400;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: none;
}
.dibs-dialog{
  display: none;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;  
  z-index: 3000000500;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.dibs-dialog-open .dibs-dialog{
  overflow-x:hidden;
  overflow-y:auto;
}
.dibs-dialog.in{
  opacity: 1;
}
.dibs-dialog .dibs-dialog-box {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.dibs-dialog.in .dibs-dialog-box {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.dibs-dialog .dibs-dialog-box{
  position: relative;
  margin:30px auto;
  width: 740px;
  background-color: #ffffff;
  border-radius:3px;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.logged-in .dibs-dialog .dibs-dialog-box{
  margin-top:60px;
}
.dibs-dialog-box a.close-btn{
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 24px;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #aeaeae;
  outline: none;
  margin: 0.2em;
  float: right;
}
.dibs-dialog-box a.close-btn:hover{
  color:#1e1e1e;
}
.dibs-dialog-header{
  padding: 0 20px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
.dibs-dialog-header h3{
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 10px;
}
.dibs-dialog-body{
  padding: 6px;
  line-height: 1.4;
}
.dibs-dialog-body p{
  margin-bottom:10px;
}
.dibs-dialog-footer{
  padding: 0;
  border-top:1px solid #e5e5e5;
  overflow: hidden;
  text-align: center;
}

.hoverHand:hover {
  cursor: pointer;
}

.dibs-btn-close {
  font-size: 13px;
  background-color: #aeaeae;
  border: none;
  color: #fff;
  border-radius: 0px;
  padding: 12px 28px;
  /*margin-left: 30px;*/
  width: 50%;
}
.dibs-btn-close:hover {
  background-color: #1e1e1e;
}

.visit-btn {
  font-size: 13px;
  background-color: #ce052c;
  border: none;
  color: #fff;
  border-radius: 0px;
  padding: 12px 28px;
  width: 50%;
}
.visit-btn:hover {
  background-color: #1e1e1e;
}

.dibs-dialog-content {
  text-align: center;
  padding: 8px 0;
}

.dibs_reward_msg {
  display: inline-block;
  width: 50%;
  text-align: left;
  vertical-align: middle;
}

.dibs_reward_dialog_items {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 10px;
}
.dibs_reward_dialog_items .items_point,
.dibs_reward_dialog_items .items_coin {
  display: inline-block;
  text-align: center;
}
.dibs_reward_dialog_items .items_point {
  border-right: 1px solid #cecece;
}
.dibs_reward_dialog_items img {
  width: 20%;
}
.dibs_reward_dialog_items text {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  padding: 0 12%;
  vertical-align: text-top;
}
.dibs_award_icon {
  display: inline-block;
  padding-right: 10px;
}
.dibs_award_icon img {
  width: 7em;
}

.insert-post-ads-multiple {
  margin: 0 0 0.6em;
}
.insert-post-ads-single {
  margin: 0 0.8em 0.6em;
}
.insert-post-ads-pullLeft {
    float: left;
}
.insert-post-ads-pullRight {
    float: right;
}
.insert-post-ads-halfSize {
    width: 50%;
    padding: 0 0.8em 6px 0.8em;
}
.insert-post-ads-fullSize {
    width: 100%;
    padding: 0 0.8em 10px 0.8em;
}

.dibs-ads-container {
    padding: 0 0.8em 6px;
    background-color: #ececec;
    padding: 3px;
    border-radius: 2px;
}

.dibs-ads-container > label {
    font-size: 11px;
    margin: 0 0 0 7px;
}

@media (max-width: 767px) {
  .dibs-dialog .dibs-dialog-box {
    width: auto;
    margin: 30px 20px;
  }
}

@media (max-width: 979px) {
  .insert-post-ads-halfSize {
    width: 100%;
  }

  #share-buttons {
    bottom: 0;
    position: fixed;
    background-color: #eee;
    padding: 5px 0;
    width: 100%;
    display: block;
    box-shadow: 0px 0px 13px #5A5A5A;
    z-index: 3;
  }
  #share-buttons > p {
    font-size: 1em;
    font-weight: bold;
    color: #000;
    display: inline-block;
    padding: 10px;
    margin-bottom: 0;
    vertical-align: middle;
    border-right: 1px solid #ccc;
  }
  #share-buttons > ul {
    display: inline-block;
    overflow: auto;
    padding-left: 10px;
    vertical-align: middle;
  }

  #share-buttons > ul li {
    list-style: none;
    list-style-type: none;
    float: left;
    margin-bottom: 0;
    margin-right: 8px;
    margin-left: 8px;
  }

  #share-buttons > ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
  }
  #share-buttons > ul li a .fa-twitter {
    background: #3b5998;
  }
  #share-buttons > ul li a .fa-twitter {
    background: #00aced;
  }
  #share-buttons > ul li a i {
    transition: all 0.2s ease-in-out;
  }
  #share-buttons > ul li a i:hover {
    opacity: .7;
    cursor: pointer;
  }

}

@media (min-width: 980px) {
  #share-buttons {
    top: 40%;
    position: fixed;
    background-color: #eee;
    padding-top: 5px;
    box-shadow: 0px 0px 13px #5A5A5A;
  }
  #share-buttons > p {
    font-size: 1em;
    font-weight: bold;
    color: #000;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  #share-buttons > ul {
    overflow: auto;
    padding-left: 10px;
  }
  #share-buttons > ul li {
    display: block;
    list-style: none;
    list-style-type: none;
    float: none;
    margin-bottom: 10px;
  }
  #share-buttons > ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
  }
  #share-buttons > ul li a .fa-twitter {
    background: #3b5998;
  }
  #share-buttons > ul li a .fa-twitter {
    background: #00aced;
  }
  #share-buttons > ul li a i {
    transition: all 0.2s ease-in-out;
  }
  #share-buttons > ul li a i:hover {
    opacity: .7;
    cursor: pointer;
  }
}

